@using TheBlogProject.Services
@using TheBlogProject.Models

@inject IImageService _imageService
@model IEnumerable<Post>


@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">

        <h1>All Posts Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Abstract)
                    </th>
                    <td class="fw-bold">
                        Created
                    </td>
                    <td class ="fw-bold">
                        Post Status
                    </td>
                    <td class="fw-bold">
                        Actions
                    </td>


                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        <img class="img-fluid" width="200px" src="@_imageService.DecodeImage(item.ImageData, item.ContentType)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abstract)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReadyStatus)
                    </td>
                    <td class="row ms-2">
                        <a class="div text-success" asp-action="Edit" asp-route-slug="@item.Slug">EDIT</a>
                        <a class="div text-primary" asp-action="Details" asp-route-slug="@item.Slug">DETAILS</a>
                        <a class="div text-danger" asp-action="Delete" asp-route-slug="@item.Slug">DELETE</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
